<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID"
  version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Select Beer</servlet-name>
    <servlet-class>controller.BeerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Select Beer</servlet-name>
    <url-pattern>/SelectBeer.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Code return servlet</servlet-name>
    <servlet-class>controller.JarCodeReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code return servlet</servlet-name>
    <url-pattern>/CodeReturn.do</url-pattern>
  </servlet-mapping>
</web-app>
